<header class="bg-transparent bg-gradient text-white py-3">
    <div class="main d-flex justify-content-between align-items-center">
        <span class="logo mb-0">hazel</span>
        <div class="d-flex gap-5 align-items-center">
            <ul class="d-flex gap-4 list-unstyled menu">
                <li class="home">HOME</li>
                <li class="item">WHO WE ARE</li>
                <li class="item">WHAT WE DO</li>
                <li class="item">PORTFOLIO</li>
                <li class="item">CONTACT</li>
                <li class="item">BLOG</li>
            </ul>
            <!-- Social media links  -->
            <ul class="d-flex gap-2 list-unstyled align-items-center">
                <li >
                    <i class="fa-brands fa-facebook svg"></i>
                </li>
                <li>
                    <i class="fa-brands fa-linkedin-in svg"></i>
                </li>
                <li>
                    <i class="fa-brands fa-instagram svg"></i>
                </li>
                <li>
                    <i class="fa-solid fa-basketball svg"></i>
                </li>
                <li>
                    <i class="fa-brands fa-vimeo svg"></i>
                </li>
                <li>
                    <i class="fab fa-foursquare svg"></i>
                </li>
            </ul>
        </div>
    </div>
</header>