<nav class="navbar navbar-expand-lg  fixed-top" [ngClass]="{'scrolled': isScrolled}">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">HAZEL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navCollapse " id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item "><a class="nav-link active" aria-current="page" href="#">HOME</a></li>
                <li class="nav-item navItem ">
                    <a class="nav-link" href="#">WHO WE ARE</a>
                </li>
                <li class="nav-item navItem">
                    <a class="nav-link" href="#">WHAT WE DO</a>
                </li>
                <li class="nav-item navItem">
                    <a class="nav-link" href="#">PORTFOLIO</a>
                </li>
                <li class="nav-item navItem">
                    <a class="nav-link" href="#">CONTACT</a>
                </li>
                <li class="nav-item navItem">
                    <a class="nav-link" href="#">BLOG</a>
                </li>
            </ul>
            <ul class="navbar-nav nav-icon  d-lg-flex">
                <li class="nav-item"><a class="nav-link" href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fa-brands fa-vimeo"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fa-solid fa-basketball"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="#"><i class="fab fa-foursquare svg h-white"></i>
                </a></li>
            </ul>
        </div>
    </div>
</nav>