<div class="home" [ngClass]="weatherCondition"
    [style.background-image]="'linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(' + backgroundImage + ')'">
    <div class="p-5 rounded text-center text-white texttt">
        <h1 class="display-4">{{ greeting }}</h1>
        {{ nativeGreeting }} 
        <div *ngIf="loading" class="spinner"></div>
        <!-- <p class="lead">HELLO I'm in testing mode right now!</p> -->
    </div>

    <div class="weather-effect">
        <div *ngIf="weatherCondition === 'snow'" class="snow">
            <div *ngFor="let flake of snowFlakes" class="snowflake" [style.--animation-delay]="flake.delay"
                [style.--left-position]="flake.left" [style.--animation-duration]="flake.duration"
                [style.--flake-size]="flake.size"></div>
        </div>

        <div *ngIf="weatherCondition === 'rain'">
            <app-rain-effect></app-rain-effect>
        </div>


        <div *ngIf="weatherCondition === 'drizzle'">
            <div *ngFor="let drop of drizzleDrops" class="drizzledrop" [style.--delay]="drop.delay"
                [style.--left]="drop.left" [style.--duration]="drop.duration"></div>
        </div>


        <div *ngIf="weatherCondition === 'thunderstorm'">
            <div *ngFor="let flash of thunderFlashes" class="lightning" [style.--delay]="flash.delay"
                [style.--duration]="flash.duration"></div>
        </div>
        <div *ngIf="weatherCondition === 'clouds'">
            <div *ngFor="let cloud of movingClouds" class="cloud" [style.--speed]="cloud.speed">
                <div class="cloud-main"></div>
                <div class="cloud-part-1"></div>
                <div class="cloud-part-2"></div>
                <div class="cloud-part-3"></div>
            </div>
        </div>

        <div *ngIf="weatherCondition === 'clear'">
            <div class="sun"></div>
            <div *ngFor="let ray of sunRays" class="sun-ray" [style.--angle]="ray.angle" [style.--delay]="ray.delay">
            </div>
        </div>
    </div>

</div>